<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          actor.provider = cluster
          loglevel = ERROR
          remote.dot-netty.tcp {
            hostname = localhost
            port = 0
          }
          cluster {
            seed-nodes = [ "akka.tcp://crdt-demo@localhost:5000/" ]
            #auto-down-unreachable-after = 10s
            roles = [ "crdt" ]
            distributed-data {
              role = "crdt"
              durable {
                keys = [ "durable-*" ]
                store-actor-class = "Akka.DistributedData.LightningDB.LmdbDurableStore, Akka.DistributedData.LightningDB"
                lmdb {
                  dir = "demo"
                  write-behind-interval = off
                }
              }
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>