<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          loglevel = DEBUG
          log-config-on-start = on
          actor.provider = cluster
          remote.dot-netty.tcp {
            hostname = "localhost"
            port = 5000
          }
          cluster {
            seed-nodes = [ "akka.tcp://crdt-demo@localhost:5000/" ]
            #auto-down-unreachable-after = 10s
            roles = [ "lighthouse" ]
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>